services:
  api:
    container_name: app-preview-api
    build:
      dockerfile_inline: |
        FROM oven/bun
        RUN apt-get update && apt-get install -y git curl
        RUN curl -fsSL https://get.docker.com/ | sh
    volumes:
      - "${PWD}:/app-preview:Z"
      # docker socket
      - "/var/run/docker.sock:/var/run/docker.sock:Z"
    working_dir: /app-preview
    command: >
      bun run ./src/api
    networks:
      - app-preview-traefik_default
    expose:
      - 3000
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app-preview-api.rule=Host(`${API_HOST}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.app-preview-api.entrypoints=web"
      # - "traefik.http.routers.app-preview-api.entrypoints=web,web-secure"
      # - "traefik.http.middlewares.app-preview-api_https.redirectscheme.scheme=https"
      # - "traefik.http.routers.app-preview-api.middlewares=app-preview-api_https"

networks:
  app-preview-traefik_default:
    external: true
